﻿body .top-bar{
    background-color: red;
}
body .top-bar .main-bar{
    background-color: brown;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}
    body .top-bar .main-bar .contact-left {
        border: 2px solid #2378e7;
        flex-grow: 2;
        background-color: white;
        display: flex;
        justify-content: flex-start;
    }
    body .top-bar .main-bar .login-right {
        flex-grow: 1;
        border: 2px solid #2378e7;
        background-color: white;
        display: flex;
        justify-content: space-between;
    }
